{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %} {% if request.GET.tag|length %}
<h3>Displaying tagged pages "{{ request.GET.tag }}"</h3>
{% endif %}
{% for blogpage in blogpages %}
<p>
    <strong><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></strong><br />
    <small>Revised: {{ blogpage.latest_revision_created_at }}</small><br /> {% if blogpage.author %}
    <p>By {{ blogpage.author.profile }}</p>
    {% endif %}
</p>
{% empty %}
This tag has no pages available now
{% endfor %}
{% endblock %}