{% extends "base.html" %} {% load wagtailcore_tags wagtailimages_tags %}
{% block body_class%}template-blogpage{% endblock %} {% block content %}
<h1>{{ page.title }}</h1>
<style>
    html {
        box-sizing: border-box;
        font-family: Lato;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .flex-container {
        /* 1. We first create a flex layout context */
        display: flex;
        /* 2. Then we define the flow direction 
                and if we allow the items to wrap 
            * Remember this is the same as:
            * flex-direction: row;
            * flex-wrap: wrap;
            */
        /* flex-flow: row wrap; */
        /*flex-wrap: nowrap; */
        /* 3. Then we define how the remaining space is distributed */
        justify-content: space-around;
        /* justify-content: center; */
        align-items: center;
        /* height: 100px; */
        /* border: 5px solid #2d2d2d; */
        width: 75%;
        margin-bottom: 12px;
    }

    .flex-item {
        padding: 12px;
        color: rgb(20, 19, 19);
        display: inline-block;
        /* height: 100px; */
        margin-right: 4px;
    }

    body>ul>li {
        display: inline;
        margin-right: 20px;
    }
</style>
<p class="meta">{{ page.date }}</p>

{% with categories=page.categories.all  %}
{% if categories %}
<h3>Posted in:</h3>
<ul>
    {% for category in categories %}
    <li>
        {% image category.icon fill-32x32 style="vertical-align:middle" %}
        {{ category.name }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="intro">{{ page.intro }}</div>
{{ page.body|richtext }}
<div class="flex-container">
    {% for item in page.gallery_images.all %}
    <!-- <div class="flex-item" style="float: left; margin: 10px;"> -->
    <div class="flex-item">
        {% image item.image fill-420x240 %}
        <p>{{ item.caption }}</p>
    </div>
    {% endfor %}
</div>


<div class="flex-container">
    <div class="flex-item">
        <a href="{{ page.get_parent.url }}">Back to blog</a> {% if page.tags.all.count %}
    </div>
    <div class="tags flex-item">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
        <a href="{% slugurl 'tags' %}?tag={{ tag }}">
            <button type="button">{{ tag }} </button>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %} {% endblock %}